<div _ngcontent-c54="" class="page-layout carded left-sidenav ps" fuseperfectscrollbar="">
  <div _ngcontent-c54="" class="top-bg mat-accent-bg"></div>
  <mat-sidenav-container _ngcontent-c54="" class="mat-drawer-container mat-sidenav-container">
    <!---->
    <div class="mat-drawer-backdrop ng-star-inserted"></div>
    <div tabindex="-1" class="cdk-visually-hidden cdk-focus-trap-anchor"></div>
    <mat-sidenav _ngcontent-c54="" class="sidenav mat-drawer mat-sidenav ng-tns-c8-70 ng-trigger ng-trigger-transform mat-drawer-side mat-is-locked-open ng-star-inserted"
      fusematsidenavhelper="carded-left-sidenav" mat-is-locked-open="gt-md" mode="side" opened="true" position="start" tabindex="-1"
      style="transform: translate3d(0px, 0px, 0px); visibility: visible;">
      <div _ngcontent-c54="" class="header p-24 white-fg" ngclass="mat-accent-bg" ngclass.gt-md="white-fg">
        <h2 _ngcontent-c54="">Sidenav header</h2>
      </div>
      <div _ngcontent-c54="" class="content p-24 ps ps--active-y" fuseperfectscrollbar="">
        <fuse-demo-sidenav _ngcontent-c54="" _nghost-c55="">

        </fuse-demo-sidenav>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
          <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; height: 392px; right: 0px;">
          <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 174px;"></div>
        </div>
      </div>
    </mat-sidenav>
    <div tabindex="-1" class="cdk-visually-hidden cdk-focus-trap-anchor"></div>
    <!---->
    <mat-sidenav-content cdkscrollable="" class="mat-drawer-content mat-sidenav-content ng-star-inserted" style="margin-left: 240px; margin-right: 0px;">
      <div _ngcontent-c54="" class="center">
        <div _ngcontent-c54="" class="header white-fg p-24">
          <h2 _ngcontent-c54="">Left sidenav with content scroll</h2>
        </div>
        <div _ngcontent-c54="" class="content-card mat-white-bg">
          <div _ngcontent-c54="" class="toolbar px-24 py-8">
            <button _ngcontent-c54="" class="sidenav-toggle mat-icon-button" fusematsidenavtoggler="carded-left-sidenav" fxhide.gt-md=""
              mat-icon-button="" style="display: none;">
              <span class="mat-button-wrapper">
                <mat-icon _ngcontent-c54="" class="mat-icon material-icons" role="img" aria-hidden="true">menu</mat-icon>
              </span>
              <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
              <div class="mat-button-focus-overlay"></div>
            </button>
            <span _ngcontent-c54="">Content toolbar</span>
          </div>
          <div _ngcontent-c54="" class="content p-24 ps ps--active-y" fuseperfectscrollbar="">
            <fuse-demo-content _ngcontent-c54="" _nghost-c52="">
              <div _ngcontent-c52="" class="demo-content">
                <img _ngcontent-c52="" alt="beach" src="assets/images/beach.jpg" style="max-width: 640px; width: 100%;">
                <h1 _ngcontent-c52="">Early Sunrise</h1>
                <h4 _ngcontent-c52="" class="secondary-text">Demo Content</h4>
                <p _ngcontent-c52=""> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere. </p>
                <blockquote _ngcontent-c52="">
                  <p _ngcontent-c52=""> Nunc vel lacinia lorem. Nullam tincidunt sed purus eu placerat. Donec id dictum erat. Etiam enim ex, dapibus
                    et tortor id, posuere pretium est. Maecenas fringilla ipsum vitae neque elementum, at eleifend ante sollicitudin.
                    Donec viverra augue dolor, a venenatis tellus consectetur sit amet. </p>
                  <footer _ngcontent-c52=""> John Doe </footer>
                </blockquote>
                <p _ngcontent-c52=""> Ut ornare sit amet velit vel congue. Ut nec tristique eros. Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit. Vivamus sed lorem quis nibh porta iaculis. Vestibulum ut eleifend ante, at semper mi. Nam imperdiet
                  est nisi, quis hendrerit tellus convallis et. Morbi in luctus neque. Curabitur elementum ut est et gravida.
                  In hac habitasse platea dictumst. </p>
                <p _ngcontent-c52=""> In et placerat eros, eu tempor turpis. Curabitur ac felis finibus, elementum lectus vitae, venenatis est.
                  Integer mollis nisl a eros scelerisque varius. Etiam venenatis lectus vel erat condimentum tristique vel
                  vel mi. Nulla id euismod mi, et mollis tellus. </p>
                <p _ngcontent-c52=""> Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti
                  sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur vitae sagittis odio.
                  Suspendisse ullamcorper nunc non pellentesque laoreet. Curabitur eu tortor id quam pretium mattis. Proin
                  ut quam velit. </p>
                <p _ngcontent-c52=""> Quisque sit amet risus enim. Aliquam sit amet interdum justo, at ultricies sapien. Suspendisse et semper
                  urna, in gravida eros. Quisque id nibh iaculis, euismod urna sed, egestas nisi. Donec eros metus, congue
                  a imperdiet feugiat, sagittis nec ipsum. Quisque dapibus mollis felis non tristique. </p>
                <p _ngcontent-c52="">
                Ut auctor, metus sed dapibus tempus, urna diam auctor odio, in malesuada odio risus vitae nisi. Etiam blandit
                  ante urna, vitae placerat massa mollis in. Duis nec urna ac purus semper dictum ut eget justo. Aenean non
                  sagittis augue. Sed venenatis rhoncus enim eget ornare. Donec viverra sed felis at venenatis. Mauris aliquam
                  fringilla nulla, sit amet congue felis dignissim at. </p>
                <p _ngcontent-c52=""> Quisque accumsan augue tempor ante mollis, sed placerat diam porttitor. Vestibulum dignissim sem vel velit
                  eleifend, non pellentesque quam convallis. Pellentesque est dolor, dignissim ac tortor tristique, hendrerit
                  iaculis metus. Praesent pulvinar quam eu leo consectetur faucibus. Vestibulum purus diam, gravida sagittis
                  feugiat sit amet, tincidunt in ligula. Sed semper vestibulum magna. Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec, auctor venenatis nisl. Suspendisse potenti.
                  </p>
                <p _ngcontent-c52=""> Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum. Suspendisse euismod in urna eu posuere.
                  Etiam blandit nunc arcu, et consectetur orci blandit a. Aliquam condimentum pharetra quam at ultricies.
                  Nunc vel lacinia lorem. Nullam tincidunt sed purus eu placerat. Donec id dictum erat. Etiam enim ex, dapibus
                  et tortor id, posuere pretium est. Maecenas fringilla ipsum vitae neque elementum, at eleifend ante sollicitudin.
                  Donec viverra augue dolor, a venenatis tellus consectetur sit amet... </p>
              </div>
            </fuse-demo-content>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
              <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; height: 392px; right: 0px;">
              <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 137px;"></div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
  </div>
  <div class="ps__rail-y" style="top: 0px; right: 0px;">
    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
  </div>
</div>
